.posts {
    padding: 0 5rem 3rem;
}

.postList {
    padding-top: 1rem;
}

.postItem {
    .title {
        color: var(--colorFont-title);
        margin-bottom: .5rem;
    }   

    .info {
        margin-top: 1rem;
    }

    svg {
        margin-right: .5rem;
    }

    .createdAt {
        margin-right: 1rem;
    }

    & + .postItem {
        margin-top: 3rem;
    }

    &:hover .title {
        color: var(--highlight)
    }
}

.bntMorePosts {
    color: var(--highlight);
    margin: 2rem 0;
    font-weight: 600;
    background: none;
    border: none;

    &:hover {
        filter: brightness(0.8);
    }
}

@media (max-width: 720px) {
    .posts {
        padding: 0 3rem 3rem;

    }
}