.postList {

}

.postItem {
    .title {
        color: var(--colorFont-title);
        margin-bottom: .5rem;
    }   

    .info {
        margin-top: 1rem;
    }

    svg {
        margin-right: .5rem;
    }

    .createdAt {
        margin-right: 1rem;
    }

    & + .postItem {
        margin-top: 3rem;
    }

    &:hover .title {
        color: var(--highlight)
    }
}

.bntMorePosts {
    color: var(--highlight);
    margin-top: 2rem;
    font-weight: 600;
    background: none;
    border: none;

    &:hover {
        filter: brightness(0.8);
    }
}